// special price template
#special-price{

    .container{
        margin: 0 auto;
    }

    .container .grid{
        margin: 0 auto;
    }

    .grid .grid-item{
        margin-right: 1.2rem;
        margin-top: 1rem;
    }

}