// fonts
$abel: 'Abel';
$schehezerade: 'Schehezerade New';
$permanentMarker: 'Permanent Marker';

// colors
$color-primary: #14213d;
$color-second: #2d00f7;
$color-yellow: #ffd100;
$color-yellow-2: #ffee32;
$color5: #d6d6d6;
$color6: #155de4;

// gradients
$gradient1: linear-gradient(to right, #00dbde 0%, #fc00ff 100%);
$gradient2: linear-gradient(to right, #f9d423 0%, #ff4e50 100%);